name: workflow-sample2
on:
    workflow_call:
jobs:  
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - run: echo "This is a sample workflow"
      - run: |
            echo "Running some build steps..."
            echo "${{vars.project_env}}"
            echo "${{secrets.project_key}}"