name: workflow-sample
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:  
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - run: echo "This is a sample workflow"
      - run: |
            echo "Running some build steps..."
            echo "{{variables.project_env}}"
            echo "{{secrets.project_key}}"